.about{
    background-image: url(../../../public/img/about-bg.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    margin-top: -1%;
    color: white;
}

.imgAbout{
    transition: transform .2s;
    width: 100%;
    height: 100%;
}

.imgAbout:hover{
    transform: scale(1.1);
    overflow: hidden;
}


.txtAbout{
    // background-color: bisque;
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
}

.imgAbout{
    width: 85%;
    height: 90%;
    border: 3px solid gray;
}

// .imgAbout:hover{
//     -webkit-transform: scale(1.1); 
// }

.contentimg{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 7%;
}

@media screen and (min-width: 425px) and (max-width: 500px) {
   .about{
    flex-direction: column;
   }

   .txtAbout{
    width: 100%;
    height: 50%;
   }

   .contentimg{
    background-color: red;
   }
}