.contentChef{
    background-color: red;
    width: 80%;
    // display: flex;
    // justify-content: space-between;
}

.chef{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.chef1{
    width: 30%;
}
.chef2{
    width: 30%;
}
.chef3{
    width: 30%;
}