.sousMap{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}
.SendMessage{
    width: 30%;
    background-color: rgb(197, 164, 104);
    color: white;
    border: 0;
    padding: 5px 15px;
    border-radius: 20px;
}


.location{
    width: 40%;
}

.contacter{
    width: 50%;
}

.contact{
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 425px) and (max-width: 500px){
    .contact {
        padding-top: 15%;
    }

    .sousMap {
        flex-direction: column;

        .location {
            width: 100%;
            padding-top: 5%;
        }
    }

    .contacter {
        width: 100%;
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .SendMessage {
        width: 50%;
        margin-left: 23%;
    }

}


@media screen and (min-width: 768px) and (max-width: 900px){
    .contact {
        padding-top: 15%;
    }

    .sousMap {
        flex-direction: column;

        .location {
            width: 100%;
            padding-top: 5%;
        }
    }

    .contacter {
        width: 100%;
        padding-top: 8%;
        padding-bottom: 3%;
    }

    .SendMessage {
        width: 30%;
        margin-left: 0%;
    }

    .ligneFormulaire {
        margin-bottom: 2%;
        margin-bottom: 6%;
        flex-direction: row;
    }

}