.events{
    width: 100%;
    background-image: url(../../../public/img/events-bg.jpg);
    // background-color: green;
    display: flex;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vw rgba(0,0 ,0, 0.8)
    
}

.imgFondEvents{
   width: 100%;
//    height: 70vh;
   filter: brightness(50%);
   z-index: -1;
   position: absolute;
}

.contentEvents{
    // height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}


.enteteEvents{
    padding-left: 4%;
    padding-top: 3%;
    width: 100%;
    // background-color: blue;
    // background-color: chocolate;
}


.titreWhy{
    color: rgb(197,164,104);
}

.textGris{
    color: rgb(179, 179, 179);
}

.contentCaroussel{
    // background-color: cadetblue;
    width: 92%;
    height: 100%;
}

.titreCaroussell{
    color: $or;
    font-size: 20px;
    font-weight: bold;
}

.prixEvents{
    font-size: 20px;
    font-weight: bold;
}

.imageEvents{
  padding-top: 3%;
}

.texteEvents{
    padding-top: 4%;
    // background-color: green;
    padding-left: 2%;
}
.carousel-indicators{
    margin: -60px !important;
}
