footer{
    // background-color: purple;
    border-top: 0.5px solid rgb(144, 123, 70);
    padding-top: 3%;
    border-bottom: 0.5px solid rgb(144, 123, 70);
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.elementFooter{
    // background-color: blue;
    width: 90%;
    display: flex;
}

.col3Footer{
    width: 20%;
    border-right: solid 1px black;
    // background-color: green;
}

.detailCol3{
    padding-left: 35%;
}

.col4footer{
    // background-color: orange;
    width: 40%;
    padding-left: 5%;
}

.sabonner{
    position: relative;
}

.position-absolute{
    background-color: $or;
    color: white;
    border: 0;
    padding: 5px;
    border-radius: 15px;
}

.btn1{
    border: 0;
    background-color: rgb(24,22,20);
    border-radius: 15px;
    color: $or;
    padding: 5px;
}


.TitreElemFooter{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 425px) and (max-width: 500px){
    .elementFooter {
        flex-direction: column;
    }

    .col3Footer {
        padding-top: 8%;
        width: 100%;
        border-right: solid 1px black;
    }

    .detailCol3 {
        padding-left: 0%;
    }

    .TitreElemFooter{
        
        display: flex;
        justify-content: left;
    }

    .col4footer{
        width: 100%;

        .detailCol4{
            br{
                display: none;
            }
            p{
                font-size: 10px;
            }
        }
    }

    .sabonner{
        display: none;
    }
    
    .btn1{
        display: none;
    }

    .position-absolute{
        display: none;
    }

}