.navbar{
    width: 100%;
    background-color: black;
    opacity: 0.6;
}

.CBIENBON{
    // background-color: beige;
    width: 30%;
}

.btnBookTable{
    // background-color: beige;
    width: 30%;
}

