.enteteReservation{
    padding-left: 4%;
    padding-top: 3%;
    width: 100%;
    // background-color: blue;
    // background-color: chocolate;
}


.titreReservation{
    color: rgb(197,164,104);
}

.textGris{
    color: rgb(179, 179, 179);
}

.contentForumlaire{
    width: 95%;
    display: flex;
    padding-left: 4%;
}

.ligneFormulaire{
    margin-bottom: 2%;
}

#inputPassword2{
    background-color: black;
    border: solid 0.5px $or;
    color: white;
}

#inputPassword2::placeholder{
    color: $or;
}

.messageFormulaire{
    background-color: black;
    border: solid 0.5px $or;
    color: white;
}


.btnForm{
    width: 10%;
    background-color: $or;
    color: white;
    border: 0;
    padding: 5px 15px;
    border-radius: 20px;
}


@media screen and (min-width: 425px) and (max-width: 500px){
    .ligneFormulaire {
        margin-bottom: 2%;
        background-color: red;
        flex-direction: column;
    }
}