.Testmonial{
    background-color: rgb(24,22,20);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enteteTestmonial{
    padding-left: 4%;
    padding-top: 3%;
    width: 100%;
    // background-color: blue;
    // background-color: chocolate;
}

.titretestmonial{
    color: rgb(197,164,104);
}

.contentCarouselTestmon{
    width: 90%;
    height: 100%;
    background-color: crimson;
}

.carteMonial{
    background-color: rgb(54, 53, 52);
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txtCarteMonial{
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.identiteMonial{
    background-color: orange;
}