.Testmonial{
    background-color: rgb(24,22,20);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.enteteTestmonial{
    padding-left: 4%;
    padding-top: 3%;
    width: 100%;
    padding-bottom: 5%;
    // background-color: blue;
    // background-color: chocolate;
}

.titretestmonial{
    color: rgb(197,164,104);
}

.contentCarouselTestmon{
    height: 100%;
    // background-color: crimson;
    width: 90vw;
}

.carteMonial{
    background-color: rgb(54, 53, 52);
    display: flex;
    border-right: 1px solid black;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.txtCarteMonial{
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.visageMonial{
    height: 20%;
    width: 20%;
    margin-left: 5%;
    border-radius: 50%;
    border: 3px solid gray;
    margin-top: -10%;
}

.nomPrenom{
    margin-left: 5%;
}

.carteIdentite{
    margin-bottom: 5%;
}

@media screen and (min-width: 425px) and (max-width: 500px){
   .Testmonial{
    display: none;
   }
}

@media screen and (min-width: 768px) and (max-width: 900px){
    .Testmonial{
        display: none;
       }
}