.Testmonial{
    background-color: rgb(24,22,20);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enteteTestmonial{
    padding-left: 4%;
    padding-top: 3%;
    width: 100%;
    // background-color: blue;
    // background-color: chocolate;
}

.titretestmonial{
    color: rgb(197,164,104);
}

.contentCarouselTestmon{
    height: 100%;
    background-color: crimson;
    width: 90vw;
}

.carteMonial{
    background-color: rgb(54, 53, 52);
    display: flex;
    border-right: 1px solid black;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    justify-content: center;
    align-items: center;
}

.txtCarteMonial{
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 10%;
}

